<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>HTTP Server Test Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,{%- include 'testpage/img/favicon.png.base64' -%}" />
    <style type="text/css">
/*<![CDATA[*/
/*!
 * The CentOS HTTP Server Test Page
 * Copyright 2021 Alain Reguera Delgado
 * Licensed under CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
 */
{% include "testpage/css/stylesheet.min.css" %}
{%
  set fonts = [
  { "family": "Montserrat", "style": "normal", "weight": "300", "file": "Montserrat-Light"},
  { "family": "Montserrat", "style": "normal", "weight": "400", "file": "Montserrat-Regular"},
  { "family": "Montserrat", "style": "normal", "weight": "700", "file": "Montserrat-Bold"},
  { "family": "overpass-mono", "style": "normal", "weight": "400", "file": "OverpassMono-Regular"},
  ]
  %}
    {% for font in fonts %}
    @font-face {
      font-family: "{{ font.family }}";
      font-weight: {{ font.weight }};
      font-style: {{ font.style }};
      src: url(data:application/x-font-woff2;charset=utf-8;base64,{%- include 'testpage/webfonts/' + font.file + '.woff2.base64' -%}) format("woff2");
    }
    {% endfor %}
    /*]]>*/
    </style>
  </head>

  <body>

    <main class="flex-shrink-0">

      <div class="container">
        <div class="py-5 text-center">
          <img role="img" src="data:image/svg+xml;base64,{%- include 'testpage/img/centos-symbol.svg.base64' -%}" alt="CentOS" height="256" />
          <h1 class="display-3 py-3 my-3 fw-bold">HTTP Server Test Page</h1>
          <div class="mx-auto">
            <p class="lead mb-4">This page is used to test the proper operation of the HTTP server after it has been installed. If you can read this page it means that this site is working properly. This server is powered by <a href="http://centos.org">CentOS</a>.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <h3 class="fw-bold">If you are a member of the general public:</h3>
            <p>The website you just visited is either experiencing problems or is undergoing routine maintenance.</p>
            <p>If you would like to let the administrators of this website know that you've seen this page instead of the page you expected, you should send them e-mail. In general, mail sent to the name "webmaster" and directed to the website's domain should reach the appropriate person.</p>
            <p>For example, if you experienced problems while visiting www.example.com, you should send e-mail to "webmaster@example.com".</p>
            <div class="alert alert-info" role="alert">
              <h5 class="alert-heading fw-bold">Important Note!</h5>
              <p>The CentOS Project has nothing to do with this website or its content, it just provides the software that makes the website run.</p>
              <p>If you have issues with the content of this site, contact the owner of the domain, not the CentOS project. Unless you intended to visit CentOS.org, the CentOS Project does not have anything to do with this website, the content or the lack of it.</p>
              <p>For example, if this website is www.example.com, you would find the owner of the example.com domain at the following WHOIS server: <a class="alert-link" href="http://www.internic.net/whois.html">http://www.internic.net/whois.html</a></p>
            </div>
          </div>
          <div class="col-xl-6">
            <h3 class="fw-bold">If you are the website administrator:</h3>
            <p>You may now add content to the webroot directory. Note that until you do so, people visiting your website will see this page, and not your content.</p>

            <h5 class="fw-bold">For systems using the Apache HTTP Server:</h5>
            <p>You may now add content to the directory <code>/var/www/html/</code>. Note that until you do so, people visiting your website will see this page, and not your content. To prevent this page from ever being used, follow the instructions in the file <code>/etc/httpd/conf.d/welcome.conf</code>.</p>

            <h5 class="fw-bold">For systems using NGINX:</h5>
            <p>You should now put your content in a location of your choice and edit the <code>root</code> configuration directive in the <strong>nginx</strong> configuration file <code>/etc/nginx/nginx.conf</code>.</p>

            <hr />

            <div class="row">
              <div class="col1 align-self-left">
                <p class="small"><a href="https://nginx.com">NGINX&trade;</a> is a registered trademark of <a href="https://www.f5.com">F5 Networks, Inc.</a></p>
              </div>
              <div class="col1 align-self-left">
                <img class="my-2" src="poweredby.png" alt="[ Powered by Apache ]">
                <p class="small"><a href="https://apache.org">Apache&trade;</a> is a registered trademark of <a href="https://apache.org">the Apache Software Foundation</a> in the United States and/or other countries.</p>
              </div>
              <div class="col1 align-self-left">
                <a href="https://www.centos.org/"><img class="my-2" src="/icons/poweredby.png" alt="[ Powered by CentOS ]"></a>
                <p class="small"><a href="https://www.centos.org/">CentOS</a> is a registered trademark of <a href="https://www.redhat.com/">Red Hat Inc.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="footer mt-auto p-5 small">

      <div class="container">
        <div class="row">
          <div class="col text-center">Copyright &copy; {{ site.year }} {{ site.data.centos.footer.copyright.author }}</div>
        </div>
      </div>

    </footer>

  </body>
</html>
